/*    @font-family {
		font-family: Sosa;
		src: url("css/sosa.ttf");
		font-weight:400;
    }*/

html, body {height: 100%;}

body {
    font-family:'PT Sans', sans-serif;
	font-size: 0.85em;
	text-transform: none;
	text-decoration: none;
	line-height: 1.4;
	margin: 0px;
}

a {
   cursor: pointer;
}

input[type=text] {
    font-family:'PT Sans', sans-serif;
}

irony {
	color: red;
}

spoiler {
	color: rgba(0, 0, 0, 0);
	border: 1px dotted silver;
}

spoiler:hover {
	color: inherit;
	border: 1px solid rgba(0, 0, 0, 0);
}

h3 > a, h3 > span > a {
	color: black;
	text-decoration: none;
}

h3 > a:hover, h3 > span > a:hover {
	text-decoration: underline ;
	color: black;
}

h3 > a:visited, h3 > span > a:visited {
	color: black;
	text-decoration: none;
}

h3 {
	margin: 0px;
//	margin-bottom: -0.25em;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 1.85em;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

.posttimestamp {
	font-style: normal;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
	text-align: right;
}

.posttimestamp > a {
	color: inherit;
	text-decoration: underline;
}

.postentry {
	border-bottom: 1px solid #ff9f40;
	margin: 5px 0px;
//	padding: 0px 0px 5px 0px;
}

.postentry > p {
	margin: 5px 0px;
}

.commentry {
//	border-bottom: 1px solid #ffd79d;
	margin: 5px 0px;
	padding-bottom: 5px;
}

.newsblock {
	margin-top: 5px;
}

.newsblock .postentry:last-child {
	border: none;
}

.topheader {
	height: 215px;
}

.cqlogotop {
	background: url('../img/cqlogotop.png') no-repeat right bottom;
	height: 100%;
}

.pinnednews {
//	height: 100%;
}

.menuwrap {
	height: 215px;
	width:100%;
	float:left;
	color:#FFFFFF;

	position: relative;
}

.usermenu {
//	height: 100%; Баритон, хворостовский, канал культура, 26/05/2013. вечером было 22-23-24
	float: left;
}

.usermenu > a {
	color: inherit;
	text-decoration: underline;
}

.usermenu > a:hover {
	text-decoration: none;
}

.commonmenu {
	vertical-align:bottom;
	float:left;
	position: absolute;
	bottom: 0;
	margin: 0px;
}

.commonmenu ul {
	margin: 0px;
}

.commonmenu ul li {
	list-style:none;
	position:relative;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	text-transform: none;
	line-height: 1.2em;
}

.commonmenu ul li a {
	color: black;
	text-decoration: none;
}

.commonmenu ul li a:hover {
	color: #ff9f40;
}

.decoration1 {
	height: 3px;
	margin: 2px 0;
	background: #ff9f40;
}

.decoration2 {
	height: 1px;
	margin-top: 1px;
	background: #ff9f40;
}

.content {
	width: 605px;
//	height: 100%;
	min-height: 500px;
}

#contentwrap {
   min-height: 100%;
}

#mainwrap {
   padding-bottom: 4em;
}

#footerwrap {
   position: relative;
   margin-top: -4em; /* negative value of footer height */
   height: 4em;
   clear:both;
} 

.footer {
	background: #ff9f40;
	width: 605px;
	height: 4em;
}

.footcontent {
	padding: 7px;
}

.inlinebg {
	color: #000;
	padding-top: 4px;
	padding-left: 3px;
}

.inlinebg span {
	background: #FFF;
	padding: 0px 5px;
}

.postimage {
	height: 210px;
	margin-top: 11px;
}

.imagelayer {
	position: relative;
	margin:0;
	padding: 0;
	max-height: 215px;
}

.masklayer {
	position: relative;
	top: -24px;
	z-index: 100;
	margin:0;
	padding: 0;
}

.usermenu {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1em;
	color: #999;
	margin-top: 5px;
}

div#uLogin {
	margin-top: 5px;
}

.commanchor {
	display: inline-block;
	background: url('../img/commanchor.png') no-repeat;
	background-position: 0px 0px;
	vertical-align: middle;
	height: 26px;
	padding-top: 9px;
	margin-left: 2px;
	margin-right: 1px;
}

.commcount {
	background: #ff9f40;
	color: white;
	padding: 3px 5px;
}

.postcaption {
	position:absolute;
	left:0px;
	bottom:0px;
	opacity: 1;
	width:100%;
	background-color: rgba(255, 255, 255, .9);
	color: rgba(255, 159, 64, 1);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.85em;
	letter-spacing: 0.07em;
	z-index: 101;
    margin-bottom: 0.85em;
	padding: 5px 10px;
}

.red {
	color: red ! important;
}

.prompts {
	text-align:left;
	color: #999;
	font-size: 15px ! important;
}

.social_accounts {
}

.social_accounts a {
width: 22px;
height: 22px;
display: inline-block;
margin-right: 2px;
}

.social_accounts a.tw{background: url('../img/footer.share.png') no-repeat 0px top;}
.social_accounts a.tw:hover{background: url('../img/footer.share.png') no-repeat 0px bottom;}

.social_accounts a.fb{background: url('../img/footer.share.png') no-repeat -23px top;}
.social_accounts a.fb:hover{background: url('../img/footer.share.png') no-repeat -23px bottom;}

.social_accounts a.gp{background: url('../img/footer.share.png') no-repeat -46px top;}
.social_accounts a.gp:hover{background: url('../img/footer.share.png') no-repeat -46px bottom;}

.social_accounts a.vk{background: url('../img/footer.share.png') no-repeat -69px top;}
.social_accounts a.vk:hover{background: url('../img/footer.share.png') no-repeat -69px bottom;}

.social_accounts a.yt{background: url('../img/footer.share.png') no-repeat -92px top;}
.social_accounts a.yt:hover{background: url('../img/footer.share.png') no-repeat -92px bottom;}

iframe.videoframe {
	border: none;
	width: 605px;
	height: 340px;
}

media {
 	display:none;
}

.userprofilemenu {
	margin-bottom: 20px;
//border: 1px solid black;
}

.userprofilemenu ul {
display: inline;
	margin: 0 3px;
	list-style: none;
	overflow: hidden;
height:2em;
}

.userprofilemenu ul > li {
display: inline;
	font-size: 1.5em;
	vertical-align:middle;
	line-height: 2em;
}

.userprofilemenu ul > li > a {
background: #eee;
padding: 0 15px;
text-decoration: none;
display: inline-block;
-webkit-transform: skew(-8deg);
-moz-transform: skew(-8deg);
-o-transform: skew(-8deg);
    transform: skew(-8deg);
height:2em;
color: black;
}

.userprofilemenu ul > li > a:hover {
background: #fff;
}

.userprofilemenu ul > li.active > a {
background: #ff9f40;
}

.userprofilemenu ul > li > a > p {
display:inline-block;
-webkit-transform: skew(8deg);
-moz-transform: skew(8deg);
-o-transform: skew(8deg);
    transform: skew(8deg);
}
